.jumbotron {
    color: aquamarine;
    background-image: url("WDW.png");
    background-size: cover;
    margin-top: 10px;

}
h1 {
    font-size: 180px;
    padding: 0;
    margin-top: -60px;
    font-family: 'Rouge Script', cursive;
    
}

#secondary {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-top: -60px;
    font-size: 50px;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine; 
}

.card {
    background-color: lightcoral;
    margin-top: 5px; 
    color: white;

}

